<div class="container">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>NOMBRE</th>
        <th>DESCRIPCION</th>
        <th>PRECIO</th>
      </tr>
    </thead>
    <tbody>
      <% product = Product.all %>
      <% product.each do |item| %>
      <tr>
        <td><%= item.name %> </td>
        <td><%= item.description %></td>
        <td><%= item.price %></td>
      </tr>
      <% end %>
    </tbody>
    </table>
</div>
